div { 
		height: 200px;
		width: 200px;
	}
	.m1 {
		background-color: red;
	}
	.menor2 {
		background-color: green;
	}
	.menor3 {
		background-color: purple;
		position: absolute;
		left: 200px;
	}
	.men4 {
		background-color: orange;
}
body {
	margin: 0px;
	padding: 0px;
}